

<form>
<div class=" haut">

  <div>
    <label for="name">Code Region</label>
    <input type="text" name="coderegions" [(ngModel)]="coderegions" >
  </div>
  <div>
    <label for="name">Nom Region</label>
    <input type="text" name="nomRegion" [(ngModel)]="nomRegion">
  </div>

  <div>
    <label for="name">Domaine</label>
    <input type="text" name="domaine" [(ngModel)]="domaine" >
  </div>

  <div>
    <label for="name">Langue</label>
    <input type="text" name="langue" [(ngModel)]="langue" >
  </div>
  <div>
    <label for="name">Population</label>
    <input type="text" name="chiffrePop" [(ngModel)]="chiffrePop">
  </div>

  <div>
    <label for="name">Superficie</label>
    <input type="text" name="superficie" [(ngModel)]="superficie" >
  </div>

  <div>
    <label for="name">année</label>
    <input type="text" name="annee" [(ngModel)]="annee">
  </div>

  <div>
    <label for="name">Image</label>
    <input type="file" (change)="envoyerImage($event)" >
  </div>
  <button type="submit" (click)="onSubmit()">envoyer</button>
</div>
</form>

<style>
.haut{
  padding-right: 10%;
  padding-left: 10%;
}
  
  
</style>