
<div class="box">
  <form action="">
    <input type="text" placeholder="  ....rechercher">
    <input type="submit" name="" value="rechercher">
  </form>
</div>


<div class="contain">
   <div class="one">
   <img src="assets/aza.jpg"    alt="">
   <h1>Sikasso</h1>
   <h3>Pays : MALI</h3>
   <p>Population : 100hb/km</p>
 
   <a routerLink="/detailregion" routerLinkActive="active"> <button class="btn">Voir</button></a>
  
  </div>
  <div class="two">
   <img src="assets/aza.jpg"    alt="">
   <h1>Bamako</h1>
   <h3>Pays : MALI</h3>
   <p>Population : 100hb/km</p>
 
   <button class="btn">Commenter</button>
  </div>
  <div class="three">
   <img src="assets/aza.jpg"    alt="">
   <H1>GAO</H1>
   <h3>Pays : MALI</h3>
   <p>Population : 100hb/km</p>
 
   <button class="btn">Commenter</button>
  </div>
</div>

<div class="contain">
  <div class="one">
   <img src="assets/aza.jpg"    alt="">
   <h1>Sikasso</h1>
   <h3>Pays : MALI</h3>
   <p>Population : 100hb/km</p>
 
     <button class="btn">Commenter</button>
  
  </div>
  <div class="two">
   <img src="assets/aza.jpg"    alt="">
   <h1>Bamako</h1>
   <h3>Pays : MALI</h3>
   <p>Population : 100hb/km</p>
 
   <button class="btn">Commenter</button>
  </div>
  <div class="three">
   <img src="assets/aza.jpg"    alt="">
   <H1>GAO</H1>
   <h3>Pays : MALI</h3>
   <p>Population : 100hb/km</p>
 
   <button class="btn">Commenter</button>
  </div>
</div>


<!-- 


<div class="container">

  <div class="c1">
        <img src="assets/aza.jpg"    alt="">
        <p>Ville : Bamako</p>
        <p>Pays : MALI</p>
        <p>Population : 100hb/km</p>

        <button class="btn">Commenter</button>
        
  </div>
  <div class="c1">
   <img src="assets/aza.jpg"    alt="">
   <p>Ville : Bamako</p>
        <p>Pays : MALI</p>
        <p>Population : 100hb/km</p>

    <button class="btn">Commenter</button>
   
</div>
<div class="c1">
 <img src="assets/azza.jpg"    alt="">
 <p>Ville : Bamako</p>
 <p>Pays : MALI</p>
 <p>Population : 100hb/km</p>

   <button class="btn">Commenter</button>
 
</div>
</div>


<div class="container">

  <div class="c1">
        <img src="assets/aza.jpg"    alt="">
        <p>Ville : Bamako</p>
        <p>Pays : MALI</p>
        <p>Population : 100hb/km</p>

        <button class="btn">Commenter</button>
        
  </div>
  <div class="c1">
   <img src="assets/aza.jpg"    alt="">
   <p>Ville : Bamako</p>
        <p>Pays : MALI</p>
        <p>Population : 100hb/km</p>

    <button class="btn">Commenter</button>
   
</div>
<div class="c1">
 <img src="assets/azza.jpg"    alt="">
 <p>Ville : Bamako</p>
 <p>Pays : MALI</p>
 <p>Population : 100hb/km</p>

   <button class="btn">Commenter</button>
 
</div>
</div>




 -->


<!-- 


<div class="container">

  <div class="c1">
        <img src="assets/aza.jpg"    alt="">
        <p>Ville : Bamako</p>
        <p>Pays : MALI</p>
        <p>Population : 100hb/km</p>

        <button class="btn">Commenter</button>
        
  </div>
  <div class="c1">
   <img src="assets/aza.jpg"    alt="">
   <p>Ville : Bamako</p>
        <p>Pays : MALI</p>
        <p>Population : 100hb/km</p>

    <button class="btn">Commenter</button>
   
</div>
<div class="c1">
 <img src="assets/azza.jpg"    alt="">
 <p>Ville : Bamako</p>
 <p>Pays : MALI</p>
 <p>Population : 100hb/km</p>

   <button class="btn">Commenter</button>
 
</div>
</div>


<div class="container">

  <div class="c1">
        <img src="assets/aza.jpg"    alt="">
        <p>Ville : Bamako</p>
        <p>Pays : MALI</p>
        <p>Population : 100hb/km</p>

        <button class="btn">Commenter</button>
        
  </div>
  <div class="c1">
   <img src="assets/aza.jpg"    alt="">
   <p>Ville : Bamako</p>
        <p>Pays : MALI</p>
        <p>Population : 100hb/km</p>

    <button class="btn">Commenter</button>
   
</div>
<div class="c1">
 <img src="assets/azza.jpg"    alt="">
 <p>Ville : Bamako</p>
 <p>Pays : MALI</p>
 <p>Population : 100hb/km</p>

   <button class="btn">Commenter</button>
 
</div>
</div>




 -->
