
<div class="box">
  <form action="">
    <input type="text" placeholder="  ....rechercher">
    <input type="submit" name="" value="rechercher">
  </form>
</div>


<div id="content">




  
  <div class="containe" *ngFor= "let region of  afficher ">
    <div class="flipper">
      <div class="front">
        <img src={{region.image}}  alt="cherry blossoms">
        <p class="caption">{{region.nomRegion}}</p>
      </div>
      <div class="back">
        <a routerLink="/region" routerLinkActive="active">
          <h1>{{region.nomRegion}}</h1>
        </a>
        <p class="date">Pays : MALI</p>
        <p class="description"> Superficie : {{region.superficie}}</p>
        <p class="description">Domaine : {{region.domaine}}</p>
      </div>
    </div>
  </div>




  <div class="containe">
    <div class="flipper">
      <div class="front">
        <img src="assets/kouli.jpg"  alt="cherry blossoms">
        <p class="caption">Koulikoro</p>
      </div>
      <div class="back">
        <a routerLink="/region" routerLinkActive="active">
          <h1>Koulikoro</h1>
        </a>
        <p class="date">Pays :MALI</p>
        <p class="description">A cherry blossom is the flower of any of several trees of genus Prunus, particularly the Japanese cherry, Prunus serrulata, which is called sakura after the Japanese (桜 or 櫻; さくら).</p>
      </div>
    </div>
  </div>
  <div class="containe">
    <div class="flipper">
      <div class="front">
        <img src="assets/chutte2.jpg"  alt="cherry blossoms">
        <p class="caption">Sikasso</p>
      </div>
      <div class="back">
        <a routerLink="/region" routerLinkActive="active">
          <h1>Sikasso</h1>
        </a>
        <p class="date">Pays :MALI</p>
        <p class="description">A cherry blossom is the flower of any of several trees of genus Prunus, particularly the Japanese cherry, Prunus serrulata, which is called sakura after the Japanese (桜 or 櫻; さくら).</p>
      </div>
    </div>
  </div>


<div class="containe">
  <div class="flipper">
    <div class="front">
      <img src="assets/segou.jpg"  alt="white daisy">
      <p class="caption">Segou</p>
    </div>
    <div class="back">
      <a routerLink="/region" routerLinkActive="active">
        <h1>Segou</h1>
      </a>
      <p class="date">Pays : MALI</p>
      <p class="description">Tulips (Tulipa) form a genus of spring-blooming perennial herbaceous bulbiferous geophytes. The flowers are usually large, showy and brightly coloured, generally red, yellow, or white.</p>
    </div>
  </div>
</div>

<div class="containe">
  <div class="flipper">
    <div class="front">
      <img src="assets/mopti.jpg"  alt="Red Purple and Yellow Tulip">
      <p class="caption">Mopti</p>
    </div>
    <div class="back">
      <a routerLink="/region" routerLinkActive="active">
        <h1>Mopti</h1>
      </a>
      <p class="date">Pays : MALI</p>
      <p class="description">Lavandula is a genus of 47 known species of flowering plants in the mint family. The most widely cultivated species is often referred to as lavender, and there is a color named for the shade of its the flowers. </p>
    </div>
  </div>
</div>

<div class="containe">
  <div class="flipper">
    <div class="front">
      <img src="assets/aza.jpg"  alt="Red Purple and Yellow Tulip">
      <p class="caption">GAO</p>
    </div>
    <div class="back">
      <a routerLink="/region" routerLinkActive="active">
        <h1>GAO</h1>
      </a>
      <p class="date">Pays : MALI</p>
      <p class="description">Lavandula is a genus of 47 known species of flowering plants in the mint family. The most widely cultivated species is often referred to as lavender, and there is a color named for the shade of its the flowers. </p>
    </div>
  </div>
</div>

<div class="containe">
  <div class="flipper">
    <div class="front">
      <img src="assets/aza.jpg"  alt="Red Purple and Yellow Tulip">
      <p class="caption">GAO</p>
    </div>
    <div class="back">
      <a routerLink="/region" routerLinkActive="active">
        <h1>GAO</h1>
      </a>
      <p class="date">Pays : MALI</p>
      <p class="description">Lavandula is a genus of 47 known species of flowering plants in the mint family. The most widely cultivated species is often referred to as lavender, and there is a color named for the shade of its the flowers. </p>
    </div>
  </div>
</div>
<div class="containe">
  <div class="flipper">
    <div class="front">
      <img src="assets/aza.jpg"  alt="Red Purple and Yellow Tulip">
      <p class="caption">GAO</p>
    </div>
    <div class="back">
      <a routerLink="/region" routerLinkActive="active">
        <h1>GAO</h1>
      </a>
      <p class="date">Pays : MALI</p>
      <p class="description">Lavandula is a genus of 47 known species of flowering plants in the mint family. The most widely cultivated species is often referred to as lavender, and there is a color named for the shade of its the flowers. </p>
    </div>
  </div>
</div>

</div>





<!--div class="contain">
   <div class="one">
   <img src="assets/aza.jpg"    alt="">
   <h1>Sikasso</h1>
   <h3>Pays : MALI</h3>
   <p>Population : 100hb/km</p>
 
   <a routerLink="/detailregion" routerLinkActive="active"> <button class="btn">Voir</button></a>
  
  </div>
  <div class="two">
   <img src="assets/aza.jpg"    alt="">
   <h1>Bamako</h1>
   <h3>Pays : MALI</h3>
   <p>Population : 100hb/km</p>
 
   <button class="btn">Commenter</button>
  </div>
  <div class="three">
   <img src="assets/aza.jpg"    alt="">
   <H1>GAO</H1>
   <h3>Pays : MALI</h3>
   <p>Population : 100hb/km</p>
 
   <button class="btn">Commenter</button>
  </div>
</div>

<div class="contain">
  <div class="one">
   <img src="assets/aza.jpg"    alt="">
   <h1>Sikasso</h1>
   <h3>Pays : MALI</h3>
   <p>Population : 100hb/km</p>
 
     <button class="btn">Commenter</button>
  
  </div>
  <div class="two">
   <img src="assets/aza.jpg"    alt="">
   <h1>Bamako</h1>
   <h3>Pays : MALI</h3>
   <p>Population : 100hb/km</p>
 
   <button class="btn">Commenter</button>
  </div>
  <div class="three">
   <img src="assets/aza.jpg"    alt="">
   <H1>GAO</H1>
   <h3>Pays : MALI</h3>
   <p>Population : 100hb/km</p>
 
   <button class="btn">Commenter</button>
  </div>
</div-->


<!-- 


<div class="container">

  <div class="c1">
        <img src="assets/aza.jpg"    alt="">
        <p>Ville : Bamako</p>
        <p>Pays : MALI</p>
        <p>Population : 100hb/km</p>

        <button class="btn">Commenter</button>
        
  </div>
  <div class="c1">
   <img src="assets/aza.jpg"    alt="">
   <p>Ville : Bamako</p>
        <p>Pays : MALI</p>
        <p>Population : 100hb/km</p>

    <button class="btn">Commenter</button>
   
</div>
<div class="c1">
 <img src="assets/azza.jpg"    alt="">
 <p>Ville : Bamako</p>
 <p>Pays : MALI</p>
 <p>Population : 100hb/km</p>

   <button class="btn">Commenter</button>
 
</div>
</div>


<div class="container">

  <div class="c1">
        <img src="assets/aza.jpg"    alt="">
        <p>Ville : Bamako</p>
        <p>Pays : MALI</p>
        <p>Population : 100hb/km</p>

        <button class="btn">Commenter</button>
        
  </div>
  <div class="c1">
   <img src="assets/aza.jpg"    alt="">
   <p>Ville : Bamako</p>
        <p>Pays : MALI</p>
        <p>Population : 100hb/km</p>

    <button class="btn">Commenter</button>
   
</div>
<div class="c1">
 <img src="assets/azza.jpg"    alt="">
 <p>Ville : Bamako</p>
 <p>Pays : MALI</p>
 <p>Population : 100hb/km</p>

   <button class="btn">Commenter</button>
 
</div>
</div>




 -->


<!-- 


<div class="container">

  <div class="c1">
        <img src="assets/aza.jpg"    alt="">
        <p>Ville : Bamako</p>
        <p>Pays : MALI</p>
        <p>Population : 100hb/km</p>

        <button class="btn">Commenter</button>
        
  </div>
  <div class="c1">
   <img src="assets/aza.jpg"    alt="">
   <p>Ville : Bamako</p>
        <p>Pays : MALI</p>
        <p>Population : 100hb/km</p>

    <button class="btn">Commenter</button>
   
</div>
<div class="c1">
 <img src="assets/azza.jpg"    alt="">
 <p>Ville : Bamako</p>
 <p>Pays : MALI</p>
 <p>Population : 100hb/km</p>

   <button class="btn">Commenter</button>
 
</div>
</div>


<div class="container">

  <div class="c1">
        <img src="assets/aza.jpg"    alt="">
        <p>Ville : Bamako</p>
        <p>Pays : MALI</p>
        <p>Population : 100hb/km</p>

        <button class="btn">Commenter</button>
        
  </div>
  <div class="c1">
   <img src="assets/aza.jpg"    alt="">
   <p>Ville : Bamako</p>
        <p>Pays : MALI</p>
        <p>Population : 100hb/km</p>

    <button class="btn">Commenter</button>
   
</div>
<div class="c1">
 <img src="assets/azza.jpg"    alt="">
 <p>Ville : Bamako</p>
 <p>Pays : MALI</p>
 <p>Population : 100hb/km</p>

   <button class="btn">Commenter</button>
 
</div>
</div>




 -->
