
<app-entete></app-entete>

<div class="box">
  <form action="">
    <input type="text" placeholder="  ....rechercher">
    <input type="submit" name="" value="rechercher">
  </form>
</div>


<div id="content">




  
  <div class="containe" *ngFor= "let region of  afficher ">
    <div class="flipper">
      <div class="front">
        <img src={{region.image}}  alt="cherry blossoms">
        <p class="caption">{{region.nomRegion}}</p>
      </div>
      <div class="back">
        <a routerLink="/region" routerLinkActive="active">
          <h1>{{region.nomRegion}}</h1>
        </a>
        <p class="date">Pays : MALI</p>
        <p class="description"> Superficie : {{region.superficie}}</p>
        <p class="description">Domaine : {{region.domaine}}</p>

        <button (click) = "goToDetailTirage(region.idregion)"> details</button>
      </div>
    </div>
  </div>




  <!--div class="containe">
    <div class="flipper">
      <div class="front">
        <img src="assets/kouli.jpg"  alt="cherry blossoms">
        <p class="caption">Koulikoro</p>
      </div>
      <div class="back">
        <a routerLink="/region" routerLinkActive="active">
          <h1>Koulikoro</h1>
        </a>
        <p class="date">Pays :MALI</p>
        <p class="description">A cherry blossom is the flower of any of several trees of genus Prunus, particularly the Japanese cherry, Prunus serrulata, which is called sakura after the Japanese (桜 or 櫻; さくら).</p>
      </div>
    </div>
  </div>
  <div class="containe">
    <div class="flipper">
      <div class="front">
        <img src="assets/chutte2.jpg"  alt="cherry blossoms">
        <p class="caption">Sikasso</p>
      </div>
      <div class="back">
        <a routerLink="/region" routerLinkActive="active">
          <h1>Sikasso</h1>
        </a>
        <p class="date">Pays :MALI</p>
        <p class="description">A cherry blossom is the flower of any of several trees of genus Prunus, particularly the Japanese cherry, Prunus serrulata, which is called sakura after the Japanese (桜 or 櫻; さくら).</p>
      </div>
    </div>
  </div>


<div class="containe">
  <div class="flipper">
    <div class="front">
      <img src="assets/segou.jpg"  alt="white daisy">
      <p class="caption">Segou</p>
    </div>
    <div class="back">
      <a routerLink="/region" routerLinkActive="active">
        <h1>Segou</h1>
      </a>
      <p class="date">Pays : MALI</p>
      <p class="description">Tulips (Tulipa) form a genus of spring-blooming perennial herbaceous bulbiferous geophytes. The flowers are usually large, showy and brightly coloured, generally red, yellow, or white.</p>
    </div>
  </div>
</div>

<div class="containe">
  <div class="flipper">
    <div class="front">
      <img src="assets/mopti.jpg"  alt="Red Purple and Yellow Tulip">
      <p class="caption">Mopti</p>
    </div>
    <div class="back">
      <a routerLink="/region" routerLinkActive="active">
        <h1>Mopti</h1>
      </a>
      <p class="date">Pays : MALI</p>
      <p class="description">Lavandula is a genus of 47 known species of flowering plants in the mint family. The most widely cultivated species is often referred to as lavender, and there is a color named for the shade of its the flowers. </p>
    </div>
  </div>
</div>

<div class="containe">
  <div class="flipper">
    <div class="front">
      <img src="assets/aza.jpg"  alt="Red Purple and Yellow Tulip">
      <p class="caption">GAO</p>
    </div>
    <div class="back">
      <a routerLink="/region" routerLinkActive="active">
        <h1>GAO</h1>
      </a>
      <p class="date">Pays : MALI</p>
      <p class="description">Lavandula is a genus of 47 known species of flowering plants in the mint family. The most widely cultivated species is often referred to as lavender, and there is a color named for the shade of its the flowers. </p>
    </div>
  </div>
</div>

<div class="containe">
  <div class="flipper">
    <div class="front">
      <img src="assets/aza.jpg"  alt="Red Purple and Yellow Tulip">
      <p class="caption">GAO</p>
    </div>
    <div class="back">
      <a routerLink="/region" routerLinkActive="active">
        <h1>GAO</h1>
      </a>
      <p class="date">Pays : MALI</p>
      <p class="description">Lavandula is a genus of 47 known species of flowering plants in the mint family. The most widely cultivated species is often referred to as lavender, and there is a color named for the shade of its the flowers. </p>
    </div>
  </div>
</div>
<div class="containe">
  <div class="flipper">
    <div class="front">
      <img src="assets/aza.jpg"  alt="Red Purple and Yellow Tulip">
      <p class="caption">GAO</p>
    </div>
    <div class="back">
      <a routerLink="/region" routerLinkActive="active">
        <h1>GAO</h1>
      </a>
      <p class="date">Pays : MALI</p>
      <p class="description">Lavandula is a genus of 47 known species of flowering plants in the mint family. The most widely cultivated species is often referred to as lavender, and there is a color named for the shade of its the flowers. </p>
    </div>
  </div>
</div-->

</div>



<button type="button" class="btn btn-primary" data-bs-toggle="modal" href="#exampleModal" data-bs-whatever="@getbootstrap">Open modal for @getbootstrap</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>