<div class="navbar">
 
  <!-- Navbar logo -->
  <div class="nav-header">
    <div class="nav-logo">
      <a href="#"><p>Mali Tourism</p>
        <!--img src="logo.png" width="100px" alt="logo"-->
      </a>
    </div>
  </div>
   
  <!-- responsive navbar toggle button -->
  <input type="checkbox" id="nav-check">
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
 
  <!-- Navbar items -->
  <div class="nav-links">
    <a href="#">Accueil</a>
    <a routerLink="/visite" routerLinkActive="active">Temoignages</a>
    <a routerLink="/region" routerLinkActive="active">Regions</a>
    <a href="#">Pays</a>
  
    <button class="loginBtn">Login</button>
  </div>
 
</div>

<div class="router">
  <router-outlet></router-outlet>
</div>










<!--div class="header">
  <div class="logo">
      Tourist Mali
  </div>

  <div class="accueil">
      Accueil
  </div>
  <div class="visite">
  Visite
 </div>
 <div class="region">
  Region
</div>
<div class="connecter">
Connecter
</div>

</div>

<div class="recherche">
      <input type="text" placeholder="rehercher">
</div>

<div class="details">
     <div class="pays">
            Pays(0)
     </div>
     <div class="regions">
Regions(10)
     </div>
    
</div>
<style type="text/css">
 .details{
  padding-left: 40%;
  display: flex;
  ;
 }
 .regions{
  grid-area: regions;
 }
 
 .pays{
  grid-area: pays;
  padding-right: 20px;
 }
.recherche{
 
  padding-top: 50px;
  padding-left: 40%;
}
.recherche input{
  height: 20px;
}
 .header{
  padding: 20px;
  background-color: #988B43;
  height: 20px;
  display: grid;
  grid-template-columns: repeat(7,1fr) ;
  grid-template-areas: 
  "logo logo logo accueil visite region connecter"
  ;
 }

 
 .logo{
    grid-area: logo;
    color: #FFF;
    padding-left: 100PX;
  }
  .accueil{
    grid-area: accueil;
    color: #FFF;
  }
  .visite{
    grid-area: visite;
    color: #FFF;
  }
  .region{
    grid-area: region;
    color: #FFF;
  }
  .connecter{
    grid-area: connecter;
    color: #FFF;
  }


  </style-->