


<div class="container">
  
      <div class="haut">
          <div class="image">
            <img src="assets/chute.jfif" alt="">
          </div>
      </div>

      <div class="milieu">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
           has been the industry's standard dummy text ever since the 1500s, when an unknown printer
            took a galley of type and scrambled it to make a type specimen book. It has survived not    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown printer
             took a galley of type and scrambled it to make a type specimen book. It has survived not    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        </p>
      </div>
      <div class="bas">
        
        <div class="imguser">
        <img src="assets/abbba.jpeg" alt="">
        </div>
        <div class="autrecom">
          took a galley of type and scrambled it to make a type specimen book. It has survived not    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        </div>
      </div>
</div>
