

<app-entete></app-entete>
<div class="contain" >
  <img src={{regioncontenu.image}}  alt="Snow" style="width:100%; height: 700px;">
 
  <div class="centered"> <h1>{{regioncontenu.nomRegion}} </h1>
    <h2>Superficie : {{regioncontenu.superficie}} </h2>
    <h2>Langue : {{regioncontenu.langue}} </h2>
       </div>
</div>

<!--Nous avons la possibilite de recuperer l'image de la region avec site.region.image -->
<div class="container" style="width:100%;">
        <div class="cont1" *ngFor= "let site of  afficherSite ">
          <img src={{site.imagesite}} width="400" height="400"  alt="">
          <H2>{{site.nomsite}}</H2>
          <p>{{site.descriptionsite}} </p>
        </div>
        <!--div class="cont1">
          <img src="assets/fatma.jpg"  alt="">
          <H2>Nom du site</H2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been </p>
        </div>
        <div class="cont1">
          <img src="assets/fatma.jpg"  alt="">
          <H2>Nom du site</H2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been </p>
        </div>
        <div class="cont1">
          <img src="assets/fatma.jpg"  alt="">
          <H2>Nom du site</H2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been </p>
        </div-->
</div>


<div class="lesCommentaires col-md-12" *ngIf="nombrecom != 0">
  <div class="poster" *ngFor="let Commentaires of commentaie" >
      <div class="users col-md-3">
          <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="avatar" width="50px" height="50px">
          <h3>{{Commentaires.user.username}}</h3>
      </div>
      <div>
        
          <p>{{Commentaires.contenucom}}</p>
      </div>

  </div>
  
</div><div class="col-md-6" style="text-align: center;" *ngIf="nombrecom == 0"><h5>Pas de commentaire</h5></div>

<!-- Formulaire d'ajout de commentaire -->
<form>
  <div class="form-group">
    <label for="commentInput">Comment</label>
    <textarea class="form-control" [(ngModel)]="contenucom" name="contenucom"  id="commentInput" rows="3" required></textarea>
  </div>
  <button type="submit" (click)="AjouterComm()" class="btn btn-primary">Submit</button>
</form>

<style>
.container{

  padding-top: 80px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.2rem;
}
.container .cont1{

}
.container .cont2{

}
.container img{
  width: 600px;
}
.container p{
  font-size: 25px;
  color: black;
  padding: 10px;
}
.container h2{
  
  padding: 20px;
}

@media(max-width:900px){
  .container img{
  width: 80%;
}
  .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  letter-spacing: 2px;
  transform: translate(-50%, -50%);
  color: rgb(255, 254, 254);
  font-size: 15px;
  font-weight: 600;
}

  .container{

padding-top: 80px;
padding-bottom: 80px;
display: grid;
grid-template-columns: 1fr;
grid-gap: 2.2rem;
}
}


  .contain {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  letter-spacing: 2px;
  transform: translate(-50%, -50%);
  color: rgb(255, 254, 254);
  font-size: 30px;
  font-weight: 600;
}
</style>

<!--div class="container">
  
      <div class="haut">
          <div class="image">
            <img src="assets/chutte1.jpg" alt="">
          </div>
      </div>

      <div class="milieu">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
           has been the industry's standard dummy text ever since the 1500s, when an unknown printer
            took a galley of type and scrambled it to make a type specimen book. It has survived not    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown printer
             took a galley of type and scrambled it to make a type specimen book. It has survived not    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        </p>
      </div>
      <div class="com">
        <H2>Les commentaires :</H2>
      </div>
      <div class="bas">
        
        <div class="imguser">
        <img src="assets/abbba.jpeg" alt="">
        </div>
        <div class="autrecom">
       <p>  took a galley of type and scrambled it to make a type specimen book. It has survived not    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        took a galley of type and scrambled it to make a type specimen book. It has survived not    Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </p> 
        </div>
      </div>
      <div class="bas">
        
        <div class="imguser">
        <img src="assets/abbba.jpeg" alt="">
        </div>
        <div class="autrecom">
       <p>  took a galley of type and scrambled it to make a type specimen book. It has survived not    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        took a galley of type and scrambled it to make a type specimen book. It has survived not    Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </p> 
        </div>
      </div>
      <div class="bas">
        
        <div class="imguser">
        <img src="assets/abbba.jpeg" alt="">
        </div>
        <div class="autrecom">
       <p>  took a galley of type and scrambled it to make a type specimen book. It has survived not    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        took a galley of type and scrambled it to make a type specimen book. It has survived not    Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </p> 
        </div>
      </div>

     
</div-->


