



<div class="box">
  <form action="">
    <input type="text" placeholder="  ....rechercher">
    <input type="submit" name="" value="rechercher">
  </form>
</div>






<div class="vsite">
  <h1>Les Visites</h1>
</div>
<div class="mere">
  <div class="visite">

    <div class="image" align="center">
             <img src="assets/visitetouri.jpg"  alt="visite">
            
    </div>
    <div class="textvisite">
         <p>
           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown printer
             took a galley of type and scrambled it to make a type specimen book. It has survived not    Lorem Ipsum is simply dummy text of the printing and typesetting 
         </p>
    </div>
  </div>
  <div class="visite">

  <div class="image" align="center">
           <img src="assets/visit1.jpg"  alt="visite">
          
  </div>
  <div class="textvisite">
       <p>
         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
          has been the industry's standard dummy text ever since the 1500s, when an unknown printer
           took a galley of type and scrambled it to make a type specimen book. It has survived not    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
       </p>
  </div>
</div>
</div>


<div class="lesplusvisites">
<h1>Les Régions les plus visitées</h1>
</div>

<!-- 
<div class="container">

   <div class="c1">
         <img src="assets/aza.jpg"    alt="">
         <p>Ville : Bamako</p>
         <p>Pays : MALI</p>
         <p>Population : 100hb/km</p>

         <button class="btn">Commenter</button>
         
   </div>
   <div class="c1">
    <img src="assets/aza.jpg"    alt="">
    <p>Ville : Bamako</p>
         <p>Pays : MALI</p>
         <p>Population : 100hb/km</p>

     <button class="btn">Commenter</button>
    
  </div>
  <div class="c1">
  <img src="assets/azza.jpg"    alt="">
  <p>Ville : Bamako</p>
  <p>Pays : MALI</p>
  <p>Population : 100hb/km</p>

    <button class="btn">Commenter</button>
  
</div>
<div class="c1">
  <img src="assets/azza.jpg"    alt="">
  <p>Ville : Bamako</p>
  <p>Pays : MALI</p>
  <p>Population : 100hb/km</p>

    <button class="btn">Commenter</button>
  
</div>
</div> -->


 <!--div class="contain">
   <div class="one">
    <img src="assets/aza.jpg"    alt="">
    <h1>Sikasso</h1>
    <h3>Pays : MALI</h3>
    <p>Population : 100hb/km</p>
  
      <button class="btn">Commenter</button>
   
   </div>
   <div class="two">
    <img src="assets/aza.jpg"    alt="">
    <h1>Bamako</h1>
    <h3>Pays : MALI</h3>
    <p>Population : 100hb/km</p>
  
    <button class="btn">Commenter</button>
   </div>
   <div class="three">
    <img src="assets/aza.jpg"    alt="">
    <H1>GAO</H1>
    <h3>Pays : MALI</h3>
    <p>Population : 100hb/km</p>
  
    <button class="btn">Commenter</button>
   </div>
</div--> 




<div id="content">
  <p>Les régions les plus visitées</p>
  <div class="containe">
    <div class="flipper">
      <div class="front">
        <img src="assets/photo.jpg"  alt="cherry blossoms">
        <p class="caption">Tombouctou</p>
      </div>
      <div class="back">
        <a routerLink="/region" routerLinkActive="active">
          <h1>Tombouctou</h1>
        </a>
        <p class="date">Pays :MALI</p>
        <p class="description">A cherry blossom is the flower of any of several trees of genus Prunus, particularly the Japanese cherry, Prunus serrulata, which is called sakura after the Japanese (桜 or 櫻; さくら).</p>
      </div>
    </div>
  </div>

  

  <div class="containe">
    <div class="flipper">
      <div class="front">
        <img src="assets/gao.jpg"  alt="white daisy">
        <p class="caption">Gao</p>
      </div>
      <div class="back">
        <a routerLink="/region" routerLinkActive="active">
          <h1>Gao</h1>
        </a>
        <p class="date">Pays : MALI</p>
        <p class="description">Tulips (Tulipa) form a genus of spring-blooming perennial herbaceous bulbiferous geophytes. The flowers are usually large, showy and brightly coloured, generally red, yellow, or white.</p>
      </div>
    </div>
  </div>

  <div class="containe">
    <div class="flipper">
      <div class="front">
        <img src="assets/chutte1.jpg"  alt="Red Purple and Yellow Tulip">
        <p class="caption">Sikasso</p>
      </div>
      <div class="back">
        <a routerLink="/region" routerLinkActive="active">
          <h1>Sikasso</h1>
        </a>
        <p class="date">Pays : MALI</p>
        <p class="description">Lavandula is a genus of 47 known species of flowering plants in the mint family. The most widely cultivated species is often referred to as lavender, and there is a color named for the shade of its the flowers. </p>
      </div>
    </div>
  </div>
</div>









