



<div class="box">
  <form action="">
    <input type="text" placeholder="  ....rechercher">
    <input type="submit" name="" value="rechercher">
  </form>
</div>

<div>
  <h1>Les Visites</h1>
</div>
<div class="visite">

  <!-- <div class="image" align="center">
           <img src="assets/visit1.jpg"  alt="visite">
          
  </div> -->
  <div class="textvisite">
       <p>
         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
          has been the industry's standard dummy text ever since the 1500s, when an unknown printer
           took a galley of type and scrambled it to make a type specimen book. It has survived not 
           only five centuries, but also the leap
          into electronic typesetting, remaining essentially unchanged. 
       </p>
  </div>
</div>

<div class="lesplusvisites">
<h1>Les Régions les plus visitées</h1>
</div>


<div class="container">

   <div class="c1">
         <img src="assets/aza.jpg"    alt="">
         <p>Ville : Bamako</p>
         <p>Pays : MALI</p>
         <p>Population : 100hb/km</p>

         <button class="btn">Commenter</button>
         
   </div>
   <div class="c2">
    <img src="assets/aza.jpg"    alt="">
    <p>Ville : Bamako</p>
         <p>Pays : MALI</p>
         <p>Population : 100hb/km</p>

     <button class="btn">Commenter</button>
    
  </div>
  <div class="c3">
  <img src="assets/aza.jpg"    alt="">
  <p>Ville : Bamako</p>
  <p>Pays : MALI</p>
  <p>Population : 100hb/km</p>

    <button class="btn">Commenter</button>
  
</div>
<div class="c4">
  <img src="assets/azza.jpg"    alt="">
  <p>Ville : Bamako</p>
  <p>Pays : MALI</p>
  <p>Population : 100hb/km</p>

    <button class="btn">Commenter</button>
  
</div>
</div>

